body{
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
}

#mainContainer{
	width: 100vw;
	height: 100vw;
}

#mapContainer{
	width: 100vw;
	height: 100vh;
}

#inputContainer{
	z-index: 100;
	background-color: #FFF;
	width: 20%;
	height: auto;
	padding-bottom: 2.5vh;
	position: absolute;
	top: 5vh;
	left: 5vh;

	-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
	text-align: center;
}

#inputContainer h1{
	font-size: 2vw;
}

#inputContainer input[type="text"]{
	width: 70%;
	margin-bottom: 5px;
}

#inputContainer label{
	font-size: max(1vw, 2vh);
}

#inputContainer input[type="checkbox"]:last-of-type{
	margin-top: 10px;
}

#searchLoader{
	display: none;
}

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
  }
  .lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid rgb(13, 151, 206);
	border-color: rgb(13, 151, 206) transparent rgb(13, 151, 206) transparent;
	animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

#businessFound{
	color: green;
	display: none;
}

.infoContainer{
	width: 100%;
	height: auto;
	text-align: center;
}

.infoContainer span{
	white-space: nowrap;
}

.infoContainer span::before{
	content: "\A";
	white-space: pre;
}

.infoContainer span:first-child::before{
	content: "";
}

.infoTitle{
	color: rgb(13, 151, 206);
	font-size: 1.5em;
	width: 100%;
}

#modalBG{
	background-color: rgba(0,0,0, 0.75);
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 101;

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
}

#loadingModal{
	color: white;
	font-size: 3vw;
}

#modalLoader{
	transform: scale(2);
	position: relative;
	left: -1.5vw;
}

.error{
	color: red;
}

#backBtn{
	border: 1px solid #333;
	width: fit-content;
	margin-top: 2vh;
	font-size: 1.25vw;
	padding: 10px;
	cursor: pointer;

	transition: background-color 0.5s;
	text-decoration: none;
}

#backBtn:hover{
	background-color: #CCC;
}

#backBtn:visited{
	color: black;
}

#backContainer{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
