body{
	font-family: sans-serif;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr 3fr;
	padding-top: 4vh;
	margin-left: 25vw;
	margin-right: 25vw;

	row-gap: 5vh;
	column-gap: 1vw;

	grid-template-areas: "title title" "business tourism"
}

.titleContainer{
	font-size: 2vw;
	background-color: #FFF;
	width: min-content;
	position: relative;
	width: 100%;
	height: 100%;
	border: 3px solid #333;

	-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);

	grid-area: title;
}

a{
	width: 100%;
	height: 100%;

	border: 3px solid #333;
	font-size: 2.5vw;
	color: #333;
	text-decoration: none;
	
	display: flex;
	justify-content: center;
	align-items: center;

	transition: background-color 0.5s;
}

a:hover{
	background-color: #CCC;
}

#businessLink{
	grid-area: "business";
}

#tourismLink{
	grid-area: "tourism";
}
